@page "/"
@rendermode InteractiveServer
@using MovieSelector.Web.Services
@inject MovieApiClient movieApiClient
@inject NavigationManager navigation

@if (isLoading)
{
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container d-flex align-items-center min-vh-100">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>Welcome to Movie Selector!</h1>
                <div class="card p-4 mt-5">
                    <h2>Upload your watchlist here!</h2>
                    <div class="d-grid mt-3">
                        <InputFile OnChange="HandleFileUpload" accept=".csv" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {
    private bool isLoading = false;

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            isLoading = true;
            try
            {
                await movieApiClient.UploadWatchlistAsync(file);
                navigation.NavigateTo("/movie");
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Upload failed: {ex.Message}");
                isLoading = false;
            }
        }
    }
}